<!DOCTYPE html>
<html lang="zh">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Avery | Find Your Piexls</title>
    <!--Google font setting-->
    <link rel="preconnect" href="https://fonts.gstatic.com" />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans+TC&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../public/styles/index.css" />
  </head>
  <body>
    <!--header-->
    <header>
      <div class="logo">
        <img src="../public/images/logo.png" alt="Logo" />
        <h1>Avery Photo Shop</h1>
      </div>

      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="/order">Order</a></li>
          <li><a href="/cart">Cart</a></li>
        </ul>
      </nav>
    </header>

    <main class="indexPage_main">
      <!--image part of the first page-->
      <section class="index_backImage">
        <div class="index_backImage_filter"></div>
        <h3>
          Are you ready to feel ARTS? <br/>
          Now Enjoy!
        </h3>
        <a href="/order"><button class="start" herf="/order">start</button></a>
      </section>
      <section class="location">
        <div class="address">
          <h1>You Can Find Us Here --></h1>
        </div>
        <div class="googlemap">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2976.658480230865!2d-121.92737288836044!3d37.47798489115992!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808fc63e07a9ef15%3A0xd5ff57a2c424e7fb!2sNorthwestern%20Polytechnic%20University!5e0!3m2!1szh-TW!2sus!4v1636589225648!5m2!1szh-TW!2sus" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
      </section>
    </main>

    <footer>
      <div class="logo">
        <h2>Avery Photo Shop</h2>
        <br>
        <h3>47671 Westinghouse Dr, Fremont, CA 94539
          <br>
          +1 123-321-0000
        </h3>
      </div>
      <section class="links">
        <a href="#"><img src="../public/images/fb.svg"" alt="facebook" /></a>
        <a href="#"><img src="../public/images/ig.svg" alt="instagram" /></a>
        <a href="#"><img src="../public/images/twitter.svg" alt="twitter" /></a>
        <a href="#"><img src="../public/images/youtube.svg" alt="youtube" /></a>
      </section>
    </footer>
  </body>
</html>
